[Unit]
Description=PlugwiseConnect
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStartPre=
ExecStart=/home/admin/powermeter/services/plugwiseconnect/run.sh

[Install]
WantedBy=multi-user.target